CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# Editors.
*.sw*
.vscode
.DS_Store

# Build directory.
build/
out/
**/.idea
**/cmake-build-*/
**/build